# Set up deeplabcut database table

## Connect to database

In [ ]:
import os
import psycopg2
import pandas as pd
import platform

host = "localhost" if platform.system() == "Windows" else "129.108.49.49"

conn = psycopg2.connect(dbname="deeplabcut_db", user="postgres", password="1234", host=host, port="5432")

cursor = conn.cursor()

print(conn)

In [ ]:
cursor.execute("SELECT 1")
print(cursor.fetchone())

## To delete table

In [ ]:
cursor.execute("DROP TABLE IF EXISTS dlc_files;")
conn.commit()

## Create table

In [ ]:
cursor.execute("CREATE TABLE IF NOT EXISTS dlc_table (id SERIAL PRIMARY KEY);")
conn.commit()

## Add other features to the table

In [ ]:
# Add new columns to the table (if they don't already exist)
alter_commands = [
    "ALTER TABLE dlc_table ADD COLUMN IF NOT EXISTS video_name TEXT",
    "ALTER TABLE dlc_table ADD COLUMN IF NOT EXISTS num_frames INTEGER",
    "ALTER TABLE dlc_table ADD COLUMN IF NOT EXISTS frame_rate FLOAT",
    "ALTER TABLE dlc_table ADD COLUMN IF NOT EXISTS genotype TEXT",
    "ALTER TABLE dlc_table ADD COLUMN IF NOT EXISTS task TEXT",
    "ALTER TABLE dlc_table ADD COLUMN IF NOT EXISTS health TEXT",
    "ALTER TABLE dlc_table ADD COLUMN IF NOT EXISTS name TEXT",
    "ALTER TABLE dlc_table ADD COLUMN IF NOT EXISTS date TIMESTAMP",
    "ALTER TABLE dlc_table ADD COLUMN IF NOT EXISTS video_width INTEGER",
    "ALTER TABLE dlc_table ADD COLUMN IF NOT EXISTS video_height INTEGER",
    "ALTER TABLE dlc_table ADD COLUMN IF NOT EXISTS csv_file_path TEXT"
]

for command in alter_commands:
    cursor.execute(command)

conn.commit()

In [ ]:
alter_command = "ALTER TABLE dlc_table ADD COLUMN IF NOT EXISTS maze_number INTEGER"
cursor.execute(alter_command)
conn.commit()

In [ ]:
# q = "SELECT * FROM dlc_table LIMIT 1"
# df = pd.read_sql(q, conn)
# print(df.columns)

q = """
SELECT id, video_name, num_frames, frame_rate, trial_length, video_width, video_height, 
genotype, task, health, name, date, maze_number, csv_file_path 
FROM dlc_table WHERE genotype='white' ORDER BY id 
"""

df = pd.read_sql(q, conn)
df.to_csv("dlc_table.csv", index=False)

In [ ]:
query = """
SELECT * FROM dlc_table LIMIT 1
"""
df = pd.read_sql(query, conn)
print(df.columns)
df.to_csv("dlc_table.csv", index=False)